# Ethan Ooi | Establishing the Data

## Setup

In terminal:

git clone https://github.com/vys5hb/Design-Final.git

```
pip install kagglehub -q
```

## Import Libraries

In [1]:
import pandas as pd
import kagglehub

## Download Data
https://www.kaggle.com/datasets/ehallmar/nba-historical-stats-and-betting-data/data

This data was produced from

In [ ]:
path = kagglehub.dataset_download("ehallmar/nba-historical-stats-and-betting-data")
print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.6), please consider upgrading to the latest version (0.3.13).
Downloading from https://www.kaggle.com/api/v1/datasets/download/ehallmar/nba-historical-stats-and-betting-data?dataset_version_number=1...

100%|██████████| 36.5M/36.5M [00:01<00:00, 21.6MB/s]

Extracting files...

Path to dataset files: /Users/ethanooi/.cache/kagglehub/datasets/ehallmar/nba-historical-stats-and-betting-data/versions/1

## Read Data

In [3]:
bets = pd.read_csv(f'{path}/nba_betting_spread.csv')
games = pd.read_csv(f'{path}/nba_games_all.csv')
lines = pd.read_csv(f'{path}/nba_betting_money_line.csv')

## How to get the Data?

1. You can go to this link, https://www.kaggle.com/datasets/ehallmar/nba-historical-stats-and-betting-data/data, and download the data from there.
2. You can use the code at the top of this notebook and it will automatically download the data for you, the data reads works directly with this code.

## Who produced the data? And how?

This data comes from Kaggle by the user Evan Hallmark, username: ehallmar. This data hasn't been updated in 7 years, but it's a great resource for historical NBA data and has a large collection of data. I believe the data was bought from another source which regularly updates this data file. The original data link can be found here: https://www.scottfreellc.com/shop/p/nba-historical-odds-data.

## COLS Tables

In [7]:
bet_info = pd.DataFrame({
    "Count": bets.count(),
    "Types": bets.dtypes,
    "Nulls": bets.isnull().sum()
}).reset_index()
bet_info

       index   Count    Types  Nulls
0    game_id  131690    int64      0
1  book_name  131690   object      0
2    book_id  131690    int64      0
3    team_id  131690    int64      0
4  a_team_id  131690    int64      0
5    spread1  131690  float64      0
6    spread2  131690  float64      0
7     price1  131690  float64      0
8     price2  131690  float64      0

In [8]:
games_info = pd.DataFrame({
    "Count": games.count(),
    "Types": games.dtypes,
    "Nulls": games.isnull().sum()
}).reset_index()
games_info

          index   Count    Types  Nulls
0       game_id  125624    int64      0
1     game_date  119376   object   6248
2       matchup  125624   object      0
3       team_id  125624    int64      0
4       is_home  125624   object      0
5            wl  125614   object     10
6             w   41000  float64  84624
7             l   41000  float64  84624
8         w_pct   41000  float64  84624
9           min  125624    int64      0
10          fgm  125607  float64     17
11          fga   90894  float64  34730
12       fg_pct   90871  float64  34753
13         fg3m   95248  float64  30376
14         fg3a   84316  float64  41308
15      fg3_pct   80062  float64  45562
16          ftm  125605  float64     19
17          fta  120011  float64   5613
18       ft_pct  119960  float64   5664
19         oreb   83786  float64  41838
20         dreb   83639  float64  41985
21          reb  125624    int64      0
22          ast   90068  float64  35556
23          stl   83960  float64  41664
24          blk   84407  float64  41217
25          tov   84293  float64  41331
26           pf  121742  float64   3882
27          pts  125624    int64      0
28    a_team_id  125624    int64      0
29  season_year  125624    int64      0
30  season_type  125624   object      0
31       season  125624   object      0

In [9]:
lines_info = pd.DataFrame({
    "Count": lines.count(),
    "Types": lines.dtypes,
    "Nulls": lines.isnull().sum()
}).reset_index()
lines_info

       index   Count    Types  Nulls
0    game_id  125286    int64      0
1  book_name  125286   object      0
2    book_id  125286    int64      0
3    team_id  125286    int64      0
4  a_team_id  125286    int64      0
5     price1  125286  float64      0
6     price2  125286  float64      0